/node_modules
/public/hot
/public/storage
/public/dokumentasi
/public/salaries
/public/cuti-roster
/public/izin-dibayarkan
/public/mutasi
/storage/*.key
/public/import/employee
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
